<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://homecd.documents.azure.com:443/" />
    <add key="PrimaryKey" value="CO1om6f1uXZOuXKXaEK4iWGrSQwPG5rjBzZatrqrWxsppDJZX3V619qoiPcDTUt1qc5k1XAFcVnGs1bu59ZPJA==" />
  </appSettings>
</configuration>