################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.manifest
*.testlog
*.v1
*.v2
*.suo
bin/
obj/
Debug/
Release/
packages/