################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Advanced Practices/Intro to LINQ/.vs/Intro to LINQ/v16
/C# Advanced Practices/Intro to LINQ/Intro to LINQ/bin/Debug
/C# Advanced Practices/Intro to LINQ/Intro to LINQ/obj/Debug
/C# Advanced Practices/Intro to LINQ/packages/System.ValueTuple.4.5.0
/C# Advanced Practices/AsyncAwaitTasks/AsyncAwaitTasks/bin/Debug
/C# Advanced Practices/AsyncAwaitTasks/AsyncAwaitTasks/obj/Debug
/C# Advanced Practices/AsyncAwaitTasks/.vs/AsyncAwaitTasks/v16
/PersonalManagement/PersonalManagement/obj
/PersonalManagement/PersonalManagement/bin/Debug/net5.0-windows
/PersonalManagement/.vs/PersonalManagement/v16
/PersonalManagement/Implementations/obj
/PersonalManagement/Implementations/bin/Debug/net5.0
/PersonalManagement/Interfaces/obj
/PersonalManagement/Interfaces/bin/Debug/net5.0
/PersonalManagement/.vs/PersonalManagement/DesignTimeBuild/.dtbcache.v2
/PersonalManagement/Models/obj
/PersonalManagement/Models/bin/Debug/net5.0
/.vs
/C# Advanced Practices
