################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# Advanced Practices/Intro to LINQ/.vs/Intro to LINQ/v16
